<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>BOSS</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" type="text/css" />
  <script src="/lib/bootstrap/js/jquery-3.4.1.js"></script>
  <script src="/lib/bootstrap/js/popper.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.js"></script>
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/images/bosslogo.png" width="210" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/leaderboard" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Leaderboard
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/leaderboard/2020">2020</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/leaderboard/2019">2019</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Claims
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/claims/view">View</a>

            {{#if isAuthenticated}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/claims/add">Add</a>
            {{/if}}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://lab.codingblocks.com/boss">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3Aboss+org%3Acoding-blocks+org%3Ajagql+org%3Ahereisnaman">Open
            Issue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://discord.gg/CV4fUna">Discord</a>
        </li>

      </ul>
      {{#if isAuthenticated}}
      <div class="ml-auto px-2">
        <a target="_blank" href="https://account.codingblocks.com/users/me">Welcome {{user.firstname}} </a>
        <button type="button" class="btn btn-primary my-2 my-sm-0"><a style="color:white"
            href="/logout">Logout</a></button>
      </div>
      {{else}}
      <div class="ml-auto px-2">
        <button type="button" class="btn btn-primary my-2 my-sm-0"><a style="color:white"
            href="/login">Login</a></button>
      </div>
      {{/if}}
    </div>
  </nav>


  <div class="ui main container">
    {{{body}}}
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83327907-10"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-83327907-10');
  </script>


</body>

</html>