<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOSS</title>
    <link href="/lib/semantic/semantic.min.css" rel="stylesheet">
    <script src="/lib/semantic/semantic.js"></script>
</head>
<body>

<div class="ui top fixed menu">
    <div class="item">BOSS</div>
    <a class="item">
        <i class="sort content descending icon"></i>
        Leaderboard
    </a>

    <a class="item">
        <i class="checked calendar icon"></i>
        Claim
    </a>
</div>

<div class="ui container">
    {{{body}}}
</div>

</body>
</html>