<div class="card text-center border-primary mb-3">
    <div class="card-header">
        Whops
    </div>
    <div class="card-body">
        <h1 class="display-2">Error</h1>
        {{error}}
        <hr />
    </div>
    <div class="card-footer">
        If you think something is wrong, report to admin at <a href="http://codingblocks.com">codingblocks.com</a>
    </div>
</div>
