<div style="margin-top:30px;">
    <h1 style="text-align: center;">
        <img src="https://www.interserver.net/tips/wp-content/uploads/2016/10/404error.jpeg" alt="" srcset="">
    </h1>
    <br>
    <div style="text-align: center;">
        <h3>The link is broken or the page has been moved.</h3>
        <button class="btn btn-primary"><a style="color:white" href="/">Home</a></button>

    </div>
</div>