<div style="margin-top:30px;" class="alert alert-danger">
    <h1 style="text-align: center;" class="alert-heading">
        &lt; 404: Seems like you're lost! /&gt;
    </h1>
    <br>
    <div style="text-align: center;">
        <h3>The link is broken or the page has been moved.</h3>
        <a href="/" class="link red">Home</a>
    </div>
</div>