<div style="margin-top:30px;">
    <p class="h1" style="text-align: center;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        404 Not Found
    </p>
    <br>
    <div style="text-align: center;">
        <h3>The link is broken or the page has been moved.</h3>
        <button class="btn btn-primary"><a style="color:white" href="/">Home</a></button>

    </div>
</div>