<div class="ui">
    <h1 class="ui center aligned header red">
        &lt; 404: Seems like you're lost! /&gt;
    </h1>
    <br>
    <div class="ui center aligned red" style="text-align: center;">
        <h3>The link is broken or the page has been moved.</h3>
        <a href="/" class="link red">Home</a>
    </div>
</div>