<div class="row">
    <div class="col-md-6">
        <h3 class="text-primary">BOSS Admins :</h2>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                {{#each users as |user|}}
                <li class="list-group-item">{{ user.oneauthId }}</li>
                {{/each}}      
            </ul>
        </div>
    </div>
    <div class="column-md-6">
        <h3 class="text-primary">Create new Admin</h2>
        <form class="form-inline" action="/admin" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <label for="oneAuthId" class="sr-only">OneAuth ID</label>
                <input type="text" class="form-control" name="id" placeholder="OneAuth Id">
            </div>
            <button class="btn btn-primary mb-2" type="submit">Submit</button>
        </form>
    </div>
</div>  