<div class="row">
    <div class="col-md-6">
        <h3 class="text-primary">BOSS Admins :</h2>
        <ul class="list-group">
            {{#each users as |user|}}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 18rem;">
                    {{ user.username }}
                    <span class="badge badge-primary badge-pill">{{ user.oneauthId }}</span>
                </li>
            {{/each}}   
        </ul>   
    </div>
    <div class="column-md-6">
        <h3 class="text-primary">Create new Admin</h2>
        <form class="form-inline" action="/admin" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <label for="oneAuthId" class="sr-only">OneAuth ID</label>
                <input type="text" class="form-control" name="id" placeholder="OneAuth Id">
            </div>
            <button class="btn btn-primary mb-2" type="submit">Submit</button>
        </form>
    </div>
</div>  