<div class="card text-center border-primary mb-3">
    <div class="card-header">
        Can't Wait ?
    </div>
    <div class="card-body">
        <h5 class="card-title text-primary">BOSS 2020 is starting soon !!!</h5>
        <p class="card-text text-justify text-center">
            Hi Everyone !
        </p>
        
        <p class="card-text text-justify text-center">
            Gear up for another year of bountiful open source summer!
        </p>

        <p class="card-text text-justify text-center">
            The contest will start at 00:00 AM, on 15th May 2021 as per Indian Time (GMT +5:30).
        </p>
        
        <p class="card-text text-justify text-center">
            <a href="/leaderboard">The leaderboard page</a></b>
            continues to reflect last year's winners, till BOSS 2021 starts.
        </p>
        <p class="card-text text-justify text-center">
            As it has been for the last three editions, the contest is open from 15th May till 
            15th August. There are no proposals, admission tests involved. All you have to do 
            is be <a class="red text" href="http://lab.codingblocks.com/boss#who-can-participate-">be eligible</a>
             and start making Pull Requests on the <a class="red text" href="https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3Aboss+org%3Acoding-blocks+org%3Ajagql">listed open source projects</a> 
        </p>
    </div>
    <div class="card-footer">
        <a href="/leaderboard/2020" class="btn btn-primary">See past winners !</a>
    </div>
</div>
