<div style="margin-top:10px" class="alert alert-warning" role="alert">
    <div class="content">
        <div class="alert-heading">
            BOSS 2019 has ended ! ! !
        </div>
        <p>
            Hi Everyone !
            <br>
            BOSS 2019 has officially ended.
            <br>
            Now you cannot claim for any issue or pull request.
            <br>
            <br>
            The contest has ended on 23:59hrs, 15th August 2019. You can see the
            leaderboard for the final results on
            <b class=" red text"> <a href="/leaderboard">this page</a> </b>
            <br>
            There are might be some open PRs and claims that are left to triage
            and merge. We will handle all outstanding claims till <b>20th August</b>
            If there are any concerns, please email
            <a href="mailto:arnav@codingblocks.com">arnav@codingblocks.com</a>
            <br>
            The standing on the leaderboars as on <b>20th August 2019</b> is final
            and binding.
            <br>
            <br>
            Thank you all for participating.
            <br>
            BOSS 2019 was a success because of your efforts. See you all on BOSS 2019.
            <br>
            I hope BOSS 2020 will be more
            <i>bigger, better and BOSS-ier.</i></b>
        </p>
    </div>
</div>