<div class="card text-center border-primary mb-3">
    <div class="card-header">
        Thanks for your contributions
    </div>
    <div class="card-body">
        <h5 class="card-title text-primary">BOSS 2020 has ended !!!</h5>
        <p class="card-text text-justify text-center">
            Hi Everyone !
        </p>
        
        <p class="card-text text-justify text-center">
            Now you cannot claim for any issue or pull request.
        </p>

        <p class="card-text text-justify text-center">
            The contest has ended on 23:59hrs, 15th August 2019. 
            You can see the leaderboard for the final results on 
            <b class="red text"> <a href="/leaderboard">this page</a> </b>
        </p>

        <p class="card-text text-justify text-center">
            There are might be some open PRs and claims that are left to triage
            and merge. We will handle all outstanding claims till <b>20th August</b>
        </p>
        <p class="card-text text-justify text-center">
            If there are any concerns, please email
            <a href="mailto:arnav@codingblocks.com">arnav@codingblocks.com</a>
        </p>

        <p class="card-text text-justify text-center">
            The standing on the leaderboars as on <b>20th August 2020</b> is final and binding.
        </p>

        <p class="card-text text-justify text-center">
           Thank you all for participating
        </p>

        <p class="card-text text-justify text-center">
            BOSS 2020 was a success because of your efforts. See you all on BOSS 2021.
            I hope BOSS 2020 will be more, bigger, better and <b>BOSS-ier</b>
        </p>
    </div>
    <div class="card-footer">
        <a href="/leaderboard/2020" class="btn btn-primary">See the winners !</a>
    </div>
</div>
