<div class="ui icon yellow message">
    <i class="star icon"></i>
    <div class="content">
        <div class="header">
            BOSS 2018 has ended ! ! !
        </div>
        <p>
            Hi Everyone !
            <br>
            BOSS 2018 has officially ended.
            <br>
            Now you cannot claim for any issue or pull request.
            <br>
            <br>
            The contest has ended on 23:59hrs, 15th August 2018. You can see the
            leaderboard for the final results on
            <b class="red text"> <a href="/leaderboard">this page</a> </b>
            <br>
            If there are any concerns, please email
            <a href="mailto:arnav@codingblocks.com">arnav@codingblocks.com</a>
            <br>
            <br>
            Thank you all for participating.
            <br>
            BOSS 2018 was a success because of your efforts. See you all on BOSS 2019.
            <br>
            I hope BOSS 2019 will be more
            <i>bigger, better and BOSS-ier.</i></b>
        </p>
    </div>
</div>