<div class="ui icon yellow message">
    <i class="star icon"></i>
    <div class="content">
        <div class="header">
            BOSS 2018 has started ! ! !
        </div>
        <p>
            Hi Everyone !
            <br>
            BOSS 2018 has officially begun as of 00:00 hrs, 15th May 2018
            <br>
            You can start submitting claims on <a href="/claims/add"><b>CLAIMS ADD</b></a> page.
            <br>
            <br>
            The contest is on till 23:59hrs, 15th August 2018. If there are
            no disputes on any claims, the leaderboard as you can see on
            <b class="red text"> <a href="/leaderboard">this page</a> </b>
            is the final standing.
            <br>
            Mentors and admins verify the claims, and till 15th August
            we will continue to validate and accept valid claims.
            <br>
            <br>
            If there are any concerns, please email 
            <a href="mailto:arnav@codingblocks.com">arnav@codingblocks.com</a>
            <br>
            <br>
            Thank you all for participating.
            <br>
            BOSS 2017 was a success because of your efforts.
            Here's to hoping BOSS 2018 is <b><i>bigger, better and BOSS-ier.</i></b>

            <h3>Contribution Guidelines - </h3>

            <ul>
                <li>Search for the open issues with label 'BOSS' on Github or <a href="https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3Aboss+org%3Acoding-blocks+org%3Ajagql+org%3Ahereisnaman"><b>here</b></a>.</li>
                <li>Select an issue of your interest and start working on it by cloning the repository. You can also star the repository you're contributing to making it more popular on Github.</li>
                <li>Make a PR for your work (1 PR per issue).</li>
                <li>Wait for them to be merged. After that login here and make a claim in the add claims section.</li>
                <li>We'll review the claim and award bounties to you.</li>
                <li>You can also open new issues and start working on them but they will be added the label 'BOSS' only after we review. </li>
            </ul>

            Please note that issues will get 'BOSS' labels attached, only after that you are supposed to make a claim.

        </p>
    </div>
</div>
