<div class="ui icon red message">
    <i class="trophy icon"></i>
    <div class="content">
        <div class="header">
            BOSS 2017 is now over ! ! !
        </div>
        <p>
            Hi Everyone !
            <br>
            BOSS 2017 is over, as of 16th August 00:00hrs.
            <br>
            You cannot submit any further claims on this website.
            <br>
            <br>
            Results will be declared on 20th August 2017. If there are
            no disputes on any claims, the leaderboard as you can see on
            <b class="red text"> <a href="/leaderboard">this page</a> </b>
            is the final standing.
            <br>
            Over the next few days we will verify the claims, and till 20th August
            we will entertain  any disputes/complaints on
            <a href="mailto:arnav@codingblocks.com">arnav@codingblocks.com</a>
            If there are any valid cases, we will consider and make changes accordingly
            on the leaderboard.
            The status of the leaderboard, as it will be on 20th August, will be
            the list of final winners of BOSS 2017
            <br>
            <br>
            This website will remain in a read-only state for archive purpose, till
            BOSS 2018.
            <br>
            Thank you all for participating.
            <br>
            BOSS was a success because of your efforts.

        </p>
    </div>
</div>