<div class="ui icon yellow message">
    <i class="star icon"></i>
    <div class="content">
        <div class="header">
            BOSS 2018 has started ! ! !
        </div>
        <p>
            Hi Everyone !
            <br>
            BOSS 2018 has officially begun as of 00:00 hrs, 15th May 2018
            <br>
            You can start submitting claims on <a href="/claims/add"><b>CLAIMS ADD</b></a> page.
            <br>
            <br>
            The contest is on till 23:59hrs, 15th August 2018. If there are
            no disputes on any claims, the leaderboard as you can see on
            <b class="red text"> <a href="/leaderboard">this page</a> </b>
            is the final standing.
            <br>
            Mentors and admins verify the claims, and till 15th August
            we will continue to validate and accept valid claims.
            <br>
            <br>
            If there are any concerns, please email 
            <a href="mailto:arnav@codingblocks.com">arnav@codingblocks.com</a>
            <br>
            <br>
            Thank you all for participating.
            <br>
            BOSS 2017 was a success because of your efforts.
            Here's to hoping BOSS 2018 is <b><i>bigger, better and BOSS-ier</i></b>

        </p>
    </div>
</div>