<table class="ui celled padded table red">
    <thead>
    <tr>
        <th>Github User</th>
        <th>Points</th>
        <th>PRs Submitted</th>
    </tr>
    </thead>
    {{#each userstats as |user|}}
        <tr>
            <td class="red text">
                <h4 class="ui center aligned">{{user.user}}</h4>
            </td>
            <td>
                <div class="right aligned">{{user.bounty}}</div>
            </td>
            <td>
                <div class="right aligned">{{user.pulls}}</div>
            </td>
        </tr>
    {{/each}}
</table>
<style>
    .red.text {
        color: red;
    }
</style>