<div class="card text-center  mb-3">
    <div class="card-body">

        <div class="row w-100">
            <div class="col-md-6 col-sm-12">
                <div class="card stats-card border-info mx-sm-1 p-3">
                    <div class="card border-info shadow text-info p-3 stats-card-icon"><span
                            class="fa fa-hand-rock fa-2x" aria-hidden="true"></span></div>
                    <div class="text-info text-center mt-3 stats-text">
                        <h4>Total Bounties Claimed</h4>
                    </div>
                    <div class="text-info text-center mt-2">
                        <h1>
                            <div class="value" data-count="{{totalclaimed}}">0</div>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card stats-card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 stats-card-icon"><span
                            class="fa fa-handshake fa-2x" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3 stats-text">
                        <h4>Total Bounties Accepted</h4>
                    </div>
                    <div class="text-success text-center mt-2">
                        <h1>
                            <div class="value" data-count="{{accepted}}">0</div>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card stats-card border-danger mx-sm-1 p-3">
                    <div class="card border-danger shadow text-danger p-3 stats-card-icon"><span
                            class="fa fa-hand-paper fa-2x" aria-hidden="true"></span></div>
                    <div class="text-danger text-center mt-3 stats-text">
                        <h4>Total Claims Filed</h4>
                    </div>
                    <div class="text-danger text-center mt-2">
                        <h1>
                            <div class="value" data-count="{{claims}}">0</div>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card stats-card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-warning p-3 stats-card-icon"><span
                            class="fa fa-users fa-2x" aria-hidden="true"></span></div>
                    <div class="text-warning text-center mt-3 stats-text">
                        <h4>Total Participants</h4>
                    </div>
                    <div class="text-warning text-center mt-2">
                        <h1>
                            <div class="value" data-count="{{participants}}">0</div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <a href="/leaderboard/2020" class="btn btn-primary">See who's leading !</a>
    </div>
</div>



<script type="text/javascript">
    $('.value').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');
        $({ countNum: $this.text() }).animate({
            countNum: countTo
        }, {
            duration: 500,
            easing: 'linear',
            step: function () {
                $this.text(Math.floor(this.countNum));
            },
            complete: function () {
                $this.text(this.countNum);
            }
        });
    });
</script>