<p style="text-align: center;line-height:0;margin-top:20px" class="h1"><br><img
        src="https://img.icons8.com/color/80/000000/statistics.png" />
    Statisitcs</p>
<hr style="border:3px solid #FF0000">
<div class="row stats">
    <div class="col-sm-6 cards-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title value" data-count="{{totalclaimed}}">
                    0
                </h5>
                <br />
                <p class="card-text">
                    TOTAL BOUNTIES CLAIMED
                </p>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-70 ">
            <div class="card-body">
                <h5 class="card-title value" data-count="{{accepted}}">
                    0
                </h5>
                <br />
                <p class="card-text">
                    TOTAL BOUNTIES ACCEPTED
                </p>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-70 ">
            <div class="card-body">
                <h5 class="card-title value" data-count="{{claims}}">
                    0
                </h5>
                <br />
                <p class="card-text">
                    TOTAL CLAIMS FILED
                </p>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-70 ">
            <div class="card-body">
                <h5 class="card-title value" data-count="{{participants}}">
                    0
                </h5>
                <br />
                <p class="card-text">
                    TOTAL PARTICIPANTS
                </p>
            </div>

        </div>
    </div>
</div>

<style>
    .stats {
        margin-top: 20px;
    }

    .cards-margin {
        margin-bottom: 20px;
    }

    .card {
        text-align: center
    }

    .card-title {
        font-size: 40pt;

    }
</style>

<script type="text/javascript">
    $('.value').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');
        $({ countNum: $this.text() }).animate({
            countNum: countTo
        }, {
            duration: 500,
            easing: 'linear',
            step: function () {
                $this.text(Math.floor(this.countNum));
            },
            complete: function () {
                $this.text(this.countNum);
            }
        });
    });
</script>