<div class="card text-center border-primary mb-3">
    <div class="card-header">
        Whops
    </div>
    <div class="card-body text-primary text-center">
        <p>Looks like you've already claimed the bounty for this Pull Request.</p>
        <p>You can claim the bounty for some other issue you resolved or make contributions to the issues with the 'BOSS' label first.</p>
    </div>
    <div class="card-footer">
        If you think something is wrong, report to admin at <a href="http://codingblocks.com">codingblocks.com</a>
    </div>
</div>
