<div class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1>
      Oops!
    </h1>
    <h2>Looks like you've already claimed the bounty for this Pull Request.</h2>
    <h4>You can claim the bounty for some other issue you resolved or make contributions to the issues with the 'BOSS' label first.</h4>
  </div>
</div>
